body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color:rgb(85, 75, 75);
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top:0ch;
    left:0;
    width: 100%;
    z-index: 1;
    background:rgba(225,225,225,0.5);
}
header:hover{
    background: rgba(255,255,255,0.9);
}
.logo{ 
    flex:1;
}
.menu{
   flex:5;
   display: flex;
}
.menu li {
    flex:1;
    padding: 0px 12px;
    
}
.sub-baitap{
    position: absolute;
    width: 150px;
    border-bottom: 1px solid rgb(1, 0, 0);
    padding: 1px 0 1px 1px;
    visibility: hidden;
        top:60px;
    transition: 0.1s;
    z-index: 1;
    background-color: rgb(250, 250, 250,0.7);
}
.menu li:hover .sub-baitap{
    display: block;
    color:rgb(105, 33, 200);
    visibility:visible;
        top:85px;
}
.menu li a{
    font-size: 20px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}
.menu li a:hover{
    color: rgb(237, 205, 232);
}


.timkiem{
    flex:1;
    border: none;
    border-bottom: 1px solid rgb(184, 79, 189);
    background: transparent;
    outline: none;
    /* position: relative;
    padding: 12px; */
}
/* .timkiem #im_find {
    position: absolute;
    right: 94%;
} */
.hinhnen{
    display: block;
    position: relative;
    padding-top: 56.25%;
}
.hinhnen img{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}
.end{
    padding:30px 0 20px 0;
}
.end div{
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 17px;
    color:rgb(63, 66, 69);
    text-align: center;
}
